.catalog {
    padding: 20px;
    background: #fff;
    font-family: 'Oswald', sans-serif;
}

.catalog_product {
    display: flex;
}

.filters {
    min-width: 20%;
    width: 20%;
}

.filter_info {
    font-size: 20px;
}

.filter_list {
    display: flex;
    flex-direction: column;
    border: 1px solid #41A23B;
    border-radius: 10px;
    max-height: 130px;
    overflow: auto;
    padding: 10px;
}

.filter input {
    margin-right: 7px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-content: flex-start;
}

.product {
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 7px;
    margin: 10px 10px;
    padding: 5px;
}

.link {
    color: #000;
    text-decoration: none;
}

.link:hover {
    color: #000;
}

.product img {
    width: 230px;
    height: 230px;
    margin: 0 auto;
}

.name {
    font-size: 25px;
}

.price {
    font-size: 28px;
}

.btn_item_cart {
    background: none;
    border: none;
    background-color: #41A23B;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding: 10px;
}

.btn_item_cart:hover {
    background-color: #DA251E;
}

.loading_products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 135px - 53px - 80px);
}

.pagination {
    margin-left: 21%;
}

.pagination button {
    background: none;
    border: none;
    background-color: #41A23B;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.pagination button:last-child {
    margin-right: 0;
}

.pagination button:hover {
    background-color: #DA251E;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 135px - 53px);
}