.admin_panel {
    font-family: 'Oswald', sans-serif;
    margin: 20px;
    display: flex;
}

.list_panel {
    background: #fff;
    min-width: 250px;
    max-width: 250px;
    border-radius: 10px;
    padding: 20px;
}

.list_panel li {
    list-style: none;
}

.link li {
    margin-bottom: 10px;
}

.link:last-child li {
    margin-bottom: 0;
}

.list_panel li button {
    background: #41A23B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    width: 100%;
}

.list_panel li button:hover {
    background: #DA251E;
}