.type_detail {
    margin-left: 20px;
}

.top_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_type_change {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.form_type_change label {
    margin-bottom: 10px;
    font-size: 19px;
}

.form_type_change input {
    margin-left: 10px;
    font-size: 18px;
}

.btn_submit, .btn_delete, .btn_back {
    background: #41A23B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 7px;
}

.btn_delete {
    font-size: 20px;
}

.btn_submit:hover, .btn_delete:hover, .btn_back:hover {
    background: #DA251E;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 135px - 53px - 40px - 44px - 52px);
}