.footer {
  background-color: #F4F4F4;
  height: 55px;
}

.footer_content{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 0;
}

.footer_content p{
  color: #333;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 0;
  margin-top: 13px;
}