.sales {
    font-family: 'Oswald', sans-serif;
}

.sale {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.sale_info {
    display: flex;
    justify-content: space-between;
}

.sale_info p {
    font-size: 20px;
}

.sales_lineups {
    display: flex;
    border: 1px solid #41A23B;
    border-radius: 10px;
    align-items: center;
}

.sale_lineup {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.img_product {
    width: 200px;
    height: 200px;
}

.noOrders {
    font-size: 30px;
}

.loading, .noOrders {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 135px - 53px);
}